ul {
	border: 1px solid #444;
	background: url("menu.svg") no-repeat;
	li {
		display: inline-block;
		padding: 10px;
		background: #777;
		color: white;
		cursor: pointer;
	}
}

.active {
	background-color: red;
}
